.top-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    li {
        a {
            color: var(--wp--preset--color--accent-2);
            transition: color 0.3s ease;
            font-weight: 700;
            &:hover {
                color: var(--wp--preset--color--accent-1);
            }
        }
    }
}