.logo-listings__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--wp--preset--color--accent-5);
}

.logo-listings__container {
    position: relative;
}

.logo-listings__title {
    text-align: center;
    margin-block-start: 0;
}

.logo-listings.swiper {
    max-width: 1110px;
}