.mobile-menu__list {
    & > li {
        margin-bottom: 15px;
    }
    li {
        &.current-menu-item {
            & > .menu-item {
                & > a {
                    color: var(--wp--preset--color--accent-1);
                }
            }
        }
        &.has-submenu {
            & > .sub-menu {
                margin-left: 15px;
                margin-top: 5px;
                li {
                    margin-bottom: 8px;
                }
                display: none;
                & > li {
                    & > .menu-item {
                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }
            & .menu-item {
                position: relative;
                a {
                    position: relative;
                    z-index: 1;
                }
                .menu-arrow {
                    width: 100%;
                    height: 16px;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-image: url('../../../assets/images/menu-arrow.svg');
                    background-repeat: no-repeat;
                    background-size: 16px 18px;
                    background-position: right center;
                    transition: transform .25s ease-in;
                    margin-left: auto;
                    z-index: 0;
                    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(348deg) brightness(112%) contrast(102%);
                }
            }
            & > .menu-item {
                a {
                    font-size: 1.125rem;
                }
            }
            &.has-submenu.open {
                & > .menu-item {
                    & a {
                        color: var(--wp--preset--color--accent-1);
                    }
                    .menu-arrow {
                        background-image: url('../../../assets/images/arrow-active-menu.svg');
                        filter: brightness(0) saturate(100%) invert(16%) sepia(56%) saturate(6631%) hue-rotate(344deg) brightness(92%) contrast(98%);
                    }
                }
            }
        }
        .menu-item {
            a {
                color: var(--wp--preset--color--accent-2);
                font-weight: 600;
            }
        }
    }
}

@media (min-width: 768px ) {
    .mobile-menu.mainmenu {
        display: none !important;
    }
}