footer.footer {
    background-color: var(--wp--preset--color--accent-5);
    padding-block-start: 30px;
    padding-block-end: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-block-start: 0;
}

.footer__newsletter {
    &.tnp-subscription {
        .tnp-field-email, 
        .tnp-privacy-field,
        tnp-field-button {
            margin-bottom: 20px;
        }
    }

    .tnp-field-email {
        position: relative;
        label {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        input[type="email"] {
            position: relative;
            z-index: 1;
        }
    }
    .tnp-privacy-field {
        label {
            position: relative;
            padding-left: 28px;
            margin-bottom: 0;
            input {
                margin: 0;
                opacity: 0;
                z-index: 1;
                left: 7px;
                top: 6px;
                position: absolute;
                &:checked ~ .checkmark:after {
                    display: block;
                    .checkmark {
                        
                    }
                }
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                border-radius: 4px;
                background-color: var(--wp--preset--color--accent-2);
                border: 0;
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 7px;
                    top: 1px;
                    width: 7px;
                    height: 14px;
                    border: solid var(--wp--preset--color--accent-1);
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }
    .tnp-field-button {
        input[type="submit"] {
            background-color: var(--wp--preset--color--accent-1);
            color: var(--wp--preset--color--accent-2);
            border: 0;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}

.footer__info {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 0;
}

.footer__address {
    background-image: url('../../images/map-pin.svg');
}

.footer__phone {
    background-image: url('../../images/phone.svg');

}
.footer__email {
    background-image: url('../../images/mail.svg');
}

@media ( min-width: 1024px ) {
    footer.footer  {
        padding-block-start: 30px;
        padding-block-end: 30px;
    }
}

@media ( min-width: 1280px ) {
    footer.footer  {
        padding-block-start: 50px;
        padding-block-end: 50px;
    }
}

@media ( min-width: 1536px ) {
    footer.footer  {
        padding-block-start: 70px;
        padding-block-end: 70px;
    }
}