<!-- wp:template-part {"slug":"header","theme":"ctheme","className":"header"} /-->

<!-- wp:group {"metadata":{"name":"Wrapper"},"className":"py-6 xl:py-10","style":{"spacing":{"padding":{"right":"1rem","left":"1rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group py-6 xl:py-10" style="padding-right:1rem;padding-left:1rem"><!-- wp:group {"metadata":{"name":"Content"},"className":"max-w-7xl w-full mx-auto","layout":{"type":"constrained"}} -->
<div class="wp-block-group max-w-7xl w-full mx-auto"><!-- wp:heading -->
<h2 class="wp-block-heading">Puslapis nerastas</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Puslapis, kurio ieškote, nepasiekiamas. Bandykite ieškoti dar kartą arba naudokite toliau esantį mygtuką Atgal.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/">Atgal į pradinį</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ctheme","area":"footer","className":"footer"} /-->