<!-- wp:template-part {"slug":"header","theme":"ctheme","className":"header"} /-->

<!-- wp:group {"metadata":{"name":"Wrapper"},"className":"py-6 xl:py-10","style":{"spacing":{"padding":{"right":"1rem","left":"1rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group py-6 xl:py-10" style="padding-right:1rem;padding-left:1rem"><!-- wp:group {"metadata":{"name":"Content"},"className":"max-w-7xl w-full mx-auto","layout":{"type":"constrained"}} -->
    <div class="wp-block-group max-w-7xl w-full mx-auto"><!-- wp:post-title {"level":1} /-->
    
    <!-- wp:post-content /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"ctheme","area":"footer","className":"footer"} /-->