<!-- wp:template-part {"slug":"header","theme":"ctheme","area":"header","className":"bg-[var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dcolor\u002d\u002daccent-4)] px-4 py-3 sm:py-6 lg:py-8"} /-->

<!-- wp:group {"metadata":{"name":"Wrapper"},"className":"py-4 md:6 lg:8 xl:10","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group py-4 md:py-6 lg:py-8 xl:py-10" style="padding-top:0px;padding-right:var(--wp--preset--spacing--40);padding-bottom:0px;padding-left:var(--wp--preset--spacing--40)"><!-- wp:group {"metadata":{"name":"Container"},"className":"max-w-7xl mx-auto w-full","layout":{"type":"constrained"}} -->
    <div class="wp-block-group max-w-7xl mx-auto w-full"><!-- wp:query-title {"type":"search"} /-->
    
    <!-- wp:acf/searchresults {"name":"acf/searchresults","data":{},"mode":"preview"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"ctheme","className":"footer"} /-->