<!-- wp:template-part {"slug":"header","theme":"ctheme","area":"header","className":"header ecommerce"} /-->

<!-- wp:group {"metadata":{"name":"Wrapper"},"className":"py-6 md:py-8 lg:py-10","style":{"spacing":{"padding":{"right":"1rem","left":"1rem"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group py-6 md:py-8 lg:py-10" style="padding-right:1rem;padding-left:1rem"><!-- wp:group {"metadata":{"name":"Container"},"layout":{"type":"default"}} -->
    <div class="wp-block-group"><!-- wp:post-title /-->
    
    <!-- wp:post-content /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"ctheme","className":"footer"} /-->