.statistics__lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 100% 0 0;
    margin-top: 0 !important;
    row-gap: 20px;
    column-gap: 15px;
}

.statistics__item {
    display: flex;
    flex: 100% 0 0;
    height: 160px;
}

.statistics__content {
    background-color: var(--wp--preset--color--accent-2);
    box-shadow: 0px 4px 80px rgba(0,0,0, 0.08);
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .stats-numbers {
        font-size: clamp(3.125rem, 2.237vw + 1.69rem, 4.375rem);
        color: var(--wp--preset--color--accent-1);
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .current-number {
        font-variant-numeric: tabular-nums;
        text-align: center;
		box-sizing: border-box;
    }
}

.statistics__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: clamp(1.5rem, 0.671vw + 1.07rem, 1.875rem);
}

@media ( min-width: 768px) {
    .statistics {
        column-gap: 20px;
    }
    .statistics__item {
        height: 140px;
        flex: calc(50% - 8px) 0 0;
    }
}

@media ( min-width: 1024px) {
    .statistics__item {
        height: 160px;
    }
}

@media ( min-width: 1280px) {
    .statistics__item {
        flex: calc(25% - 12px) 0 0;
        &.even {
            margin-top: 20px;
        }
    }
}

@media ( min-width: 1536px) {
    .statistics__item {
        height: 180px;
        &.even {
            margin-top: 30px;
        }
    }
}