.hero-banner__pagination {
    .swiper-pagination-bullet {
        border-radius: 0;
        background-color: var(--wp--preset--color--accent-1);
        opacity: 1;
        width: 25px;
        height: 4px;
        &.swiper-pagination-bullet-active {
            background-color: var(--wp--preset--color--accent-2);
        }
    }
}